{{#if dashboard}}
  <button class="btn btn-primary" type="submit">Create Post</button>
{{/if}}

{{#each posts as |post| }}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><a href="/post/{{post.id}}">{{post.title}}</a></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{post.date_created}}</h6>
  </div>
</div>
{{/each}}
